<%- include('../partials/header.ejs') %>

<div class="secret-content">
  <div class="antique-big-view">
    <% if (locals.antique) { %>
    <div class="image-container">
      <p><%="../" +   antique.imageObject.path + "/" + antique.imageObject.name +
      "." + antique.imageObject.img_extension %>"</p>
      <img src="<%="../" +   antique.imageObject.path + "/" + antique.imageObject.name +
      "." + antique.imageObject.img_extension %>" alt="<%=
      antique.imageObject.alt %>" />
    </div>

    
    <form method="post" action="/delete">
      <input type="text" name="antiqueID" value="<%=antique.id %>" hidden/>
      <input type="submit" value="Delete"/>
    </form>

    <form method="get" action="/update<%=antique.id %>">
      <input type="submit" value="Update"/>
    </form>

    <div class="extra-images-container">
      <% antique.secondaryImageObjects.map((secondaryImageObject) => { %>
        <div class="single-extra-image-container">
          <img class="extra-image" src="<%="../" +  secondaryImageObject.path + "/" +
          secondaryImageObject.name + "." + secondaryImageObject.img_extension %>"
          alt="<%= secondaryImageObject.alt %>" />
        </div>
        <% }); %>
      </div>

      <div class="text-container">
        <h2 class="name"><%= antique.name %></h2>
        <p class="refence"><b>Ref.: </b><%= antique.reference_number %></p>
        <h3 class="cost"><%= "€ " + antique.cost_euro%></h3>
        <p class="description"><%= antique.description%></p>
      </div>
      <% } else { %>
      <p>not loading locals antiques D:</p>
      <%} %>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>
</div>
