<%- include('../partials/header.ejs') %>

<div class="secret-content">
  <!-- INSERT INTO antiques (name, description, category_ids, dimensions_centimeters, cost_euro, reference_number, main_image_id, secondary_images_ids) 
VALUES ('Example Chair', 'A chair used as an example first antique item', '{1}', 
'Height: 140cm; Width: 100cm; Length: 90cm;', 50, '#123123', 1, '{2, 2, 2}'); -->
  <div class="secret-admin-antique-creation">
    <!-- Makes POST request to /login route -->
    <form action="/create" method="POST" enctype="multipart/form-data">
      <h2>Antique Creation</h2>
      <!-- NAME -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" />
      </div>
      <!-- DESCRIPTION -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="textarea" name="description"></textarea>
      </div>
      <!-- CATEGORIES -->
      <% if (locals.categories) { %> <% if (categories.length > 0) { %>
      <div class="form-group">
        <div class="multiselect">
          <div class="selectBox" onclick="showCategories()">
            <label for="select-categories">Categories</label>
            <select name="select-categories">
              <option>Select categories</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
            <% for (let i = 0; i < categories.length; i++) { %>
            <label for="category_<%= categories[i].id  %>">
              <input
                type="checkbox"
                id="category_<%= categories[i].id %>"
                name="category_<%= categories[i].id %>"
              /><%= categories[i].name %></label
            >
            <% } %>
          </div>
        </div>
      </div>
      <% } else if (categories.length == 0) { %>
      <p>Could not find any categories</p>
      <%}%> <% } else { %>
      <p>Error fetching categories.</p>
      <% } %>
      <!-- MAIN IMAGE -->
      <div class="form-group">
        <label for="image">Main Image</label>
        <input
          type="file"
          class="main-image"
          name="image"
          id="image"
          accept="image/*"
          onchange="previewMainImage()"
        />
        <br />
        <div class="main-image-preview"></div>
        <br />
      </div>
      <!-- SECONDARY IMAGES -->
      <div class="form-group">
        <label for="images">Secondary Images</label>
        <input
          type="file"
          class="secondary-images"
          name="images"
          id="images"
          accept="image/*"
          multiple
          onchange="previewSecondaryImages()"
        />
        <br />
        <div class="secondary-images-preview"></div>
        <br />
      </div>
      <!-- DIMENSIONS -->
      <div class="form-group">
        <p class="dimensions-main-label">Dimensions</p>
        <div class="dimensions">
          <div class="dimension-input-group">
            <label for="width">Width</label>
            <input type="number" step="0.01" min="0" name="width" />
          </div>
          <div>
            <label for="height">Height</label>
            <input type="number" step="0.01" min="0" name="height" />
          </div>
          <div>
            <label for="length">Length</label>
            <input type="number" step="0.01" min="0" name="length" />
          </div>
        </div>
      </div>
      <!-- COST -->
      <div class="form-group">
        <label for="Cost">Cost</label>
        <input type="number" step="0.01" min="0" name="cost" />
      </div>
      <% if (locals.message) { %>
      <p><%= message %></p>
      <% } %>
      <button type="submit">Create</button>
    </form>
  </div>
</div>

<script>
  var expanded = false;

  function showCategories() {
    var checkboxes = document.getElementById('checkboxes');
    if (!expanded) {
      checkboxes.style.display = 'block';
      expanded = true;
    } else {
      checkboxes.style.display = 'none';
      expanded = false;
    }
  }

  function previewMainImage() {
    const preview = document.querySelector('.main-image-preview');
    preview.innerHTML = ''; // Clear existing previews
    const file = document.querySelector('input[type=file].main-image').files[0];

    const reader = new FileReader();

    reader.onload = function (event) {
      const img = document.createElement('img');
      img.src = event.target.result;
      preview.appendChild(img);
    };

    reader.readAsDataURL(file);
  }

  function previewSecondaryImages() {
    const preview = document.querySelector('.secondary-images-preview');
    preview.innerHTML = ''; // Clear existing previews
    const files = document.querySelector(
      'input[type=file].secondary-images'
    ).files;

    Array.from(files).forEach((file) => {
      const reader = new FileReader();

      reader.onload = function (event) {
        const img = document.createElement('img');
        img.src = event.target.result;
        preview.appendChild(img);
      };

      reader.readAsDataURL(file);
    });
  }
</script>

<%- include('../partials/footer.ejs') %>
