<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antique Dealrship</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>

  <body>
    <% if (locals.pages && locals.currentPage && !locals.admin) { %>
    <div class="header">
      <h1><a href="/">Antique Dealership</a></h1>
      <a href="/dashboard">Admin Board</a>
    </div>
    <div class="subheader ">
      <a
      href="/"
      class="<% if (currentPage == pages.home) { %> <%="currentPage"%> <% }%>"
      >Home</a>

      <div class="dropdown <%= (currentPage == pages.categories) ? 'currentPage' : '' %>">
        <a href="#" class="dropBtn <%= (currentPage == pages.categories) ? 'currentPage' : '' %>">Category</a>
        <div class="dropdown-content">
          <% if (locals.categories) { %>
            <% for (let i = 0; i < categories.length; i++) { %>
              <% if (locals.currentCategory) { %>
                <a href=<%="/filter-"+categories[i].id%> class="<%= (currentCategory.name == categories[i].name) ? 'currentFilter' : '' %>"><%= categories[i].name %></a>
              <% } else { %>
                <a href=<%="/filter-"+categories[i].id%>><%= categories[i].name %></a>
              <% } %>
            <% } %>
          <% } else { %>
            <p>404 Categories</p>
          <% } %>
        </div>
      </div>

      <a href="/contact" class="<% if (currentPage == pages.contact) { %> <%="currentPage"%> <% }%>">Contact</a>
      <a href="/delivery" class="<% if (currentPage == pages.delivery) { %> <%="currentPage"%> <% }%>">Delivery</a>
    </div>
    <% } else { %>
      <div class="header">
        <h1><a href="/login">Admin Antique Dealership</a></h1>
        <a href="/">Normal Home</a>
      </div>
      <% if (locals.admin) { %>
      <div class="subheader">
        <a
          href="/dashboard"
          class="<% if (currentPage == pages.dashboard) { %> <%="currentPage"%> <% }%>"
          >Dashboard</a>
        <a
          href="/create"
          class="<% if (currentPage == pages.create) { %> <%="currentPage"%> <% }%>"
          >Add</a>
        <a href="/logout" class="">Logout</a>
      </div>
      <% } %>
    <% } %>
  </body>
</html>
