<%- include('./partials/header.ejs') %>

<div class="content">
  <p>Our Antiques:</p>
  <% if (locals.antiques) { %> <% for (let i = 0; i < antiques.length; i++) { %>
  <div class="antique-small-view">
    <p class="image">
      <img src="<%= antiques[i].imageObject.path + "/" +
      antiques[i].imageObject.name + "." + antiques[i].imageObject.img_extension
      %>" alt="<%= antiques[i].imageObject.alt %>" />
    </p>
    <p class="name"><%= antiques[i].name %></p>
    <p class="cost"><%= antiques[i].cost_euro + " EURO"%></p>
  </div>
  <% } %> <% } else { %>
  <p>not loading locals antique D:</p>
  <%} %>
</div>

<%- include('./partials/footer.ejs') %>
